.root{
    -fx-background-color: #7e84bf;
}

.button{
    -fx-background-color: #383c5e;
    -fx-text-fill: #e5e1eb;
}

.label{
   -fx-font-weight: bold;
}

.button:hover {
    -fx-border-color: #65d6c4;
}

.text-field{
    -fx-background-color: #e5e1eb;
}

.text-field:hover {
    -fx-border-color: #65d6c4;
}

.list-view{
    -fx-background-color: #e5e1eb;
}

.list-cell:odd {
    -fx-background-color: #c7c9e0;
}

.list-cell:even {
   -fx-background-color: #e5e1eb;
}

.list-cell:filled:selected:focused {
   -fx-background-color: #383c5e;
   -fx-text-fill: #e5e1eb;
   -fx-font-weight: bold;
}

.list-cell:hover {
    -fx-background-color: #7e84bf;
}

.list-view .scroll-bar:horizontal {
    -fx-background-color: #383c5e;
}

.list-view .increment-button, .list-view .decrement-button {
    -fx-background-color: #e5e1eb;
}

.list-view .scroll-bar:horizontal .thumb {
    -fx-background-color: #e5e1eb;
}